{% extends "base.html" %}

{% block title %}🏆Ajuda meu CV🏆 - Crie um CV que Impressione{% endblock %}

{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold">🏆 Ajuda meu CV 🏆</h1>
                <p class="lead">Seu guia para um CV impecável que te leva ao próximo nível.</p>
            </div>
        </div>
    </div>
</header>

<section class="features py-5">
    <div class="container">
        <h2 class="text-center mb-5">Por que escolher o Ajuda meu CV?</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Análise Profissional</h5>
                        <i class="fas fa-file-alt fa-2x"></i>
                        <p class="card-text">Analisamos seu CV com inteligência artificial e te damos um feedback preciso e detalhado.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Dicas Incriveis</h5>
                        <i class="fas fa-lightbulb fa-2x"></i>
                        <p class="card-text">Acesse dicas e modelos de CV para turbinar sua candidatura e se destacar da multidão.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Impulsione sua Carreira</h5>
                        <i class="fas fa-rocket fa-2x"></i>
                        <p class="card-text">Aumente suas chances de sucesso com um CV que realmente chama atenção dos recrutadores.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-to-action py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Comece agora mesmo!</h2>
        <p class="text-center">Crie um CV que te leva mais perto dos seus sonhos.</p>
        <div class="d-flex justify-content-center mt-4"> <a href="/validar" class="btn btn-lg btn-primary">Analisar meu CV agora!</a></div>
    </div>
</section>
{% endblock %}