{% extends "base.html" %}

{% block title %}🏆Ajuda meu CV🏆{% endblock %}

{% block content %}
    <div class="container">
        <h2>Analise seu CV Aqui</h2>
        <input type="file" id="pdfFile" accept="application/pdf">
        <textarea id="jobDescription" placeholder="Enter the job position description..."></textarea>
        <button onclick="runAnalysis()">Analisar</button>
        <div id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <footer class="rodape">
      <p>{{ current_year }} - Criado para o PI.2024 - UNIVESP - Todos os direitos reservados</p>
      <a href="https://github.com/bhnunes/ProjetoPI2024" target="_blank">
        <img src="{{ url_for('static', filename='github.png') }}" alt="Github" style="width: 20px; height: auto;">
      </a>
    </footer>
{% endblock %}