{% extends "base.html" %}

{% block title %}🏆Ajuda meu CV🏆{% endblock %}

{% block content %}
    <section class="validar py-5">
        <div class="container">
            <h2 class="text-center mb-4">Analise seu CV Aqui</h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <input type="file" id="pdfFile" accept="application/pdf" class="form-control-file">
                    </div>
                    <div class="form-group">
                        <textarea id="jobDescription" placeholder="Escreva a vaga de emprego aqui..." class="form-control"></textarea>
                    </div>
                    <button id="analiseButton" class="btn btn-primary btn-block">Analisar</button>

                    <div id="result" class="mt-3 text-center">
                        <div class="progress mt-3" id="progress-bar" style="display: none;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                        </div>
                        
                        <div id="status-container" class="mt-3"></div>
                        
                        <div id="analysis-results" class="mt-3" style="display: none;">
                            <div class="alert alert-success" role="alert">
                                <p><strong>Resultado:</strong> <span id="result-message"></span></p>
                                <p><strong>Percentual de Match Textual:</strong> <span id="similarity-score"></span>%</p>
                                <p><strong>Percentual de Match Contextual:</strong> <span id="keywords-matching"></span>%</p>
                                <p><strong>Termos a Adicionar:</strong> <span id="keywords-missing"></span></p>
                                <ul id="error-list" class="mt-3"></ul> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}